<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <remove value="iisstart.htm" />
      </files>
    </defaultDocument>

    <httpLogging enabled="true" />
     <aspNetCore processPath="dotnet" arguments=".\ExcelHostApp.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
